.cards-container {
    display: flex;
    justify-content: center;
    gap: 40px; /* 卡片之间的间距 */
    flex-wrap: wrap; /* 响应式设计：小屏幕时卡片会换行 */
    text-align: center;
    width: 100%; /* 确保容器的宽度占满页面 */
}

.container {
    width: 960px;
    margin: 0px auto;
}

@media (max-width: 960px) {
    /* For a screen < 960px, this CSS will be read */
    .container {
      width: 700px;
    }
  }
  @media (max-width: 720px) {
    /* For a screen < 720px, this CSS will be read */
    .container {
      width: 500px;
    }
  }
  @media (max-width: 540px) {
    /* For a screen < 540px, this CSS will be read */
    .container {
      width: 300px;
    }
  }