.subscription-title {
    font-size: 2vw !important; /* 调整字体大小 */
    
}

.subscription {
    text-align: center; /* 文字居中 */
    margin: 20px 0;
}

.subscription h2 {
    font-size: 3vw; /* 你可以根据需要调整vw单位 */
    font-weight: 700; /* 加粗字体 */
    margin-bottom: 10px;
}


form {
    display: inline-flex; /* 将输入框和按钮放在一行 */
    align-items: center; /* 垂直居中 */
}

.email-input {
    padding: 10px 20px;
    font-size: 1.6vw; /* 使用响应式单位，确保在不同屏幕上缩放 */
    border: 2px solid black; /* 添加黑色边框 */
    border-radius: 5px;
    margin-right: 10px; /* 输入框和按钮之间的间距 */
    outline: none; /* 去除默认的焦点样式 */
    width: 30vw; /* 使输入框宽度根据屏幕大小变化 */
}

.email-input::placeholder {
    color: lightgray; /* 输入框的提示文字颜色 */
}

.submit-button {
    background-color: #6a5acd;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.6vw; /* 使用相对单位 vw 实现响应式变化 */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease, border 0.3s ease; /* 添加平滑的过渡效果 */
}

.submit-button:hover {
    background-color: #5b4bb2;
    opacity: 0.6; /* 悬停时设置为半透明 */
    border: 2px solid #fff; /* 悬停时添加白色边框 */
}



/* 页脚的整体设计 */
footer {
    background-color: #decef6; /* 背景色 */
    padding: 20px 0; /* 上下内边距 */
    text-align: center; /* 文字居中 */
    width: 100%; /* 占据整个页面的宽度 */
    position: relative; /* 让页脚固定在底部 */
    bottom: 0;
}

/* 页脚内文字样式 */
footer p.bar {
    color: #000000b1; /* 文字颜色*/
    font-size: 1rem; /* 初始字体大小 */
    margin: 0; /* 移除默认的段落间距 */
    line-height: 1.5; /* 行高 */
}


